<AuthorizeView>
    <Authorized>
        <a href="Identity/Cuenta/Administrar">Hola, @context.User.Identity?.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Cerrar Sesión</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Registrate</a>
        <a href="Identity/Account/Login">Iniciar Sesión</a>
    </NotAuthorized>
</AuthorizeView>
